.navegacion{
	margin-top: -200px;
}

#titulo{
	background-color: red;
	padding: 75px 0px 30px 0px;
	font-family: arial;
	font-size: 50px;
	color: white;
	text-align: center;
	margin: 200px 20% 50px 20%;
	border-radius: 35px;
}

#contenido{
	font-family: arial;
	font-size: 35px;
	margin: 0px 275px 0px 275px;
	padding: 50px 0px 50px 0px;
	text-align: justify;
}

.imag{
	margin: 0px 0px 300px 0px;
}